h3{
    font-family: cursive;
    font-size: 30px;
    background-color: coral;
    text-align: center;
}

h1{
    text-align: center;
    font-family: cursive;
    background:rgb(76, 134, 243);
}
h2{
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    background:darkcyan;
}

body{
    background: cornflowerblue;
}